/*! Del Norte Banquest Website | MIT License | https://github.com/dnxc/dnxc.github.io */
/* Global style */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #1a1a1a;
    line-height: 1;
    height: 100%;
    margin: 0;
}

/* Text styles */

h1 {
    color: #e8e8e8;
    font-size: 75px;
    font-weight: 700;
    cursor: default;
    margin: 25px 0 0 0;
}

h2 {
    color: #e4e4e4;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    cursor: default;
    margin: 0 25px 0 0;
}

p {
    margin: 0 0 10px 0;
}

.caption {
    font-size: 16px;
    color: #dddddd;
}

::selection {
    color: #98beff;
    background: #181818;
}

a {
    color: #181818;
    text-decoration: none;
    transition: color .15s;
}

a:hover, a:active {
    color: #98beff;
}

li {
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 0 20px 0;
    cursor: default;
}

li:after {
    content: "|";
    margin: 0 8px;
    opacity: .3;
}

li:last-child:after {
    content: "";
    margin: 0;
}

/* Asset styles */

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    vertical-align: baseline;
    object-fit: contain;
}

.video-link, .btn {
    background: none;
    border-radius: 2px;
    display: inline-block;
    margin: 10px 10px;
    transition: width .5s, height .5s;
    transition: background .5s, color .5s, text-shadow .5s;
    cursor: pointer;
}

.btn {
    color: #d7d7d7;
    font-size: 20px;
    padding: 20px;
    border: 2px solid #dedede;
}

.video-link {
    border: 2px solid #131313;
    position: relative;
    height: 200px;
    width: 200px;
    font-size: 30px;
	margin: 25px 25px 25px 25px;
}

.video-link:hover {
    background: #121212;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 1px #000016;
}

.btn:hover {
    background: #d7d7d7;
    text-decoration: none;
    color: #141414;
    text-shadow: 0 1px #ffffff;
}

/* Division styles */

.no-bg-video {
    background: url("../img/bg-poster.jpg") no-repeat;
    background-position: center top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.mesh-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    background-image: url("../img/video-grid.png");
}

.landing-section {
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.centerpiece {
    text-align: center;
    max-width: 600px;
    height: 300px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.video-list-section {
    margin: 0;
    width: 100%;
    background-color: #494949;
}

.video-list {
    padding: 30px 30px;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #2b2b2b;
}

.footer {
    background-color: #bababa;
    padding-bottom: 80px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.footer-links {
    position: relative;
    text-align: center;
    margin: 0 auto;
    top: 45px;
}

/* Mobile style */

@media only screen and (max-device-width: 425px),
only screen and (max-width: 400px) {
    html {
    }

    .bg-video {
        display: none;
    }
}
