/* Global style */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #1a1a1a;
    line-height: 1;
    height: 100%;
    margin: 0;
}

/* Text styles */

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    cursor: default;
    margin: 50px 0;
    color: #1a1a1a;
}

.date {
    font-size: 14px;
    margin: 0;
    font-weight: 700;
    color: #e2e2e2;
    line-height: 20px;
}

p {
    color: #1a1a1a;
}

a {
    color: #1a1a1a;
    text-decoration: none;
    transition: color .15s;
}

a:hover, a:active {
    color: #98beff;
}

/* Division Styles */

.container {
    margin: 0 auto;
    background-color: #2b2b2b;
    padding: 50px 0;
}

.banquest-video {
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
}

.description {
    display: flex;
    justify-content: center;
}

.desc-box {
    background-color: #1b1b1b;
    width: 600px;
    padding: 20px;
}

.desc-text {
    color: #dddddd;
    white-space: pre-wrap;
    margin: 0;
    font-family: inherit;
    line-height: 20px;
}

.desc-text a {
    color: #8cb1d6;
    text-decoration: none;
    transition: color .15s;
}

.desc-text a:hover, .desc-text a:active {
    color: #dddddd;
}

.footer {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #bababa;
    position: relative;
    z-index: 1;
}

.footer-links {
    position: relative;
    margin: 0 35px;
}

.footer-links li {
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 0;
    cursor: default;
}

.footer-links li:after {
    content: "|";
    margin: 0 8px;
    opacity: .3;
}

.footer-links li:last-child:after {
    content: "";
    margin: 0;
}
